* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .bar-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    /* height: 70vh; */
  }
  .b-chart{
    border: 3px solid blue;
    padding: 10px;
    margin: 5px;
    border-radius: 12px;
    background-color: white;
  }